<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
端口已被占用，请输入一个新的端口号(0~65535)：<input id="port" type="number" min="0" max="65535"/>
<input id="button" type="button" value="确定">
<script>
  const {ipcRenderer} = require('electron')
  document.getElementById('button').addEventListener('click',function(){
    let port = document.getElementById('port').value
    port = parseInt(port)
    if(typeof port !== 'number' || port < 0 || port>65535){
      alert('请输入0~65535之间的数字')
      return false
    }
    ipcRenderer.send('set-new-port',port)
  })
</script>
</body>
</html>